parameters :
    level: 9
    paths:
        - Formulaire de Contact Avance
        - Template
        - tps
        - Football
        - Exercice
        
    
    ignoreErrors:
        - identifier: missingType.iterableValue