th,tr{
    background: #2459f7
}

h1, h2,h3,h4, h5, a
{
   font-size: 5vh; 
   text-align: center;
   border-radius: 50px;
}

a
{
   font-size: 3vh; 
   color: aliceblue;
   text-align: center;
   background-color: rgb(1, 1, 57);
   padding: 1%;
}

td #button
{
   font-size: 3vh; 
   color: aliceblue;
   text-align: center;
   background-color: blue;
   padding-left: 5%;
   padding-right: 5%;
}